<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYMLYMAYaAuMIemCkGvknkmp3xdP33klQ</string>
	<key>GCM_SENDER_ID</key>
	<string>834634966664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gogoAdmin</string>
	<key>PROJECT_ID</key>
	<string>gogoship-70cca</string>
	<key>STORAGE_BUCKET</key>
	<string>gogoship-70cca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834634966664:ios:103c3d31b0db4a6328613d</string>
</dict>
</plist>